@import './styles/theme.css';

/* Minimal normalize */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Hide scrollbars for the game board */
::-webkit-scrollbar {
  display: none;
}
